// app global css in SCSS form
@import './color.scss';
@import './quasar.scss';
@import './font.scss';
@import './class.scss';

html {
	font-size: max(calc(100vw / 1200 * 10), 10px);
	background-color: var(--bg-primary);
	color: var(--text-primary);
}

body {
	background-color: var(--bg-primary);
	color: var(--text-primary);
}

* {
	color: var(--text-primary);
}

// 全局默认样式
input,
textarea,
select {
	background-color: var(--bg-tertiary);
	color: var(--text-primary);
	border-color: var(--border);

	&::placeholder {
		color: var(--text-placeholder);
	}

	&:focus {
		background-color: var(--bg-tertiary);
		border-color: var(--accent);
		color: var(--text-primary);
	}
}

// 按钮默认样式
button {
	color: var(--text-primary);

	&:hover:not(.q-btn--unelevated) {
		box-shadow: 0 0 4px var(--accent-hover);
		border-color: var(--accent-hover);
	}
}

// 链接默认样式
a {
	color: var(--accent);

	&:hover {
		color: var(--accent-hover);
	}
}

// 滚动条样式
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
	background-color: var(--text-placeholder);
	border-radius: 4px;

	&:hover {
		background-color: var(--text-primary);
	}
}
